<ion-footer class="footer-menu">
  <ion-grid> 
    <ion-row>
      <ion-col text-center>
        <a (click)="navigateTo('MallcardPage')" class="link-menu-bar link-menu-bar-active">
          <img src="/assets/imgs/footer-menu/mall.png"/>
          <span>Mall Cards</span>
        </a> 
      </ion-col>
      <ion-col text-center>
        <a (click)="navigateTo('ShopcardPage')" class="link-menu-bar">
          <img src="/assets/imgs/footer-menu/shop.png"/>
          <span>Shop Cards</span>
        </a> 
      </ion-col>
      <ion-col text-center>
        <a (click)="navigateTo('CouponPage')" class="link-menu-bar">
          <img src="/assets/imgs/footer-menu/coupon.png"/>
          <span>Coupons</span>
        </a> 
      </ion-col>
      <ion-col text-center>
        <a (click)="navigateTo('StampcardPage')" class="link-menu-bar">
          <img src="/assets/imgs/footer-menu/stamp.png"/>
          <span>Stamp Cards</span>
        </a> 
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>