<ion-footer class="footer-menu">
  <ion-grid no-padding> 
    <ion-row>
      <ion-col text-center no-padding>
        <a (click)="navigateTo('MallcardPage')" class="link-menu-bar" [ngClass]="{'link-menu-bar-active':activeMenu =='mall'}">
          <img src="./assets/imgs/footer-menu/mall.png"/>
          <span>Mall Cards</span>
        </a> 
      </ion-col>
      <ion-col text-center no-padding>
        <a (click)="navigateTo('ShopcardPage')" class="link-menu-bar" [ngClass]="{'link-menu-bar-active':activeMenu =='shop'}">
          <img src="./assets/imgs/footer-menu/shop.png"/>
          <span>Shop Cards</span>
        </a> 
      </ion-col>
      <ion-col text-center no-padding>
        <a (click)="navigateTo('CouponPage')" class="link-menu-bar" [ngClass]="{'link-menu-bar-active':activeMenu =='coupon'}">
          <img src="./assets/imgs/footer-menu/coupon.png"/>
          <span>Coupons</span>
        </a> 
      </ion-col>
      <ion-col text-center no-padding>
        <a (click)="navigateTo('StampcardPage')" class="link-menu-bar" [ngClass]="{'link-menu-bar-active':activeMenu =='stamp'}">
          <img src="./assets/imgs/footer-menu/stamp.png"/>
          <span>Stamp Cards</span>
        </a> 
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>