<ion-footer class="footer-menu">
  <ion-grid> 
    <ion-row>
      <ion-col text-center>
        <a (click)="navigateTo('MallcardPage')" class="link-menu-bar link-menu-bar-active">
          <ion-icon name="card"></ion-icon> 
          <span>Walletx</span>
        </a> 
      </ion-col>
      <ion-col text-center>
        <a (click)="navigateTo('PromoPage')" class="link-menu-bar">
          <ion-icon name="pricetags"></ion-icon> 
          <span>Promo</span>
        </a> 
      </ion-col>
      <ion-col text-center>
        <a (click)="navigateTo('MallinfoPage')" class="link-menu-bar">
          <ion-icon name="information-circle"></ion-icon> 
          <span>Mall Info</span>
        </a> 
      </ion-col>
      <ion-col text-center>
        <a (click)="navigateTo('NotificationPage')" class="link-menu-bar">
          <ion-icon name="notifications"></ion-icon> 
          <span>Notifications</span>
        </a> 
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>